/* 将字体应用到整个应用 */
:root {
  /* 定义全局字体变量 */
  --app-font-family:
    'Source Han Sans SC VF', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,
html {
  font-family: var(--app-font-family);
  /* 抗锯齿效果 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* 默认字体大小 */
  font-size: 1rem;
}

input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
}

body {
  user-select: none; /* 禁止选中 */
  -webkit-user-select: none; /* Chrome/Safari/Edge 兼容 */
  cursor: default; /* 强制光标默认为箭头 */
}

/* 恢复输入框的可交互性 */
input,
textarea {
  user-select: text;
  -webkit-user-select: text;
  cursor: text;
}

/* 禁止图片被拖拽 (防止点击图片时出现半透明的拖拽影子) */
img {
  -webkit-user-drag: none;
}
/* 确保icon-park的图标垂直居中 */
.i-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
